Question 1

In [ ]:
#if statement
price_tv = 20000
money_in_hand = 25000
if price_tv <= money_in_hand:
  print("I will buy TV")

I will buy TV

Question 2

In [ ]:
#if.. else statement
price_tv = 20000
money_in_hand = 2000
if price_tv <= money_in_hand:
  print("I will buy TV")
else:
  print("Lets look at other models")

Lets look at other models

In [ ]:
price_tv = 20000
money_in_hand = 2000
EMI_OPTION = True
if price_tv <= money_in_hand:
  print("I will buy TV")
elif EMI_OPTION:
  print("I will buy TV")
else:
  print("Lets look at other models")

I will buy TV

Program to print largest number

In [ ]:
num1,num2 = 7,5
if num1>num2:
  print("largest number is ",num1)
else:
  print("largest number is ",num2)

largest number is  7

In [ ]:
num1,num2,num3 = 7,5,6
if num1>num2 and num1>num3:
  print("largest number is ",num1)
elif num2>num1 and num2>num3:
  print("largest number is ",num2)
else:
  print("largest number is ",num3)

largest number is  7

For Loop

In [ ]:
for num in range(1,10):
  print(num)

1
2
3
4
5
6
7
8
9

In [ ]:
for num in range(1,11,2):
  print(num)

1
3
5
7
9

In [ ]:
for num in range(10,0,-1):
  print(num)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# Squares of all even numbers from 1-10
for num in range(1,11):
  if(num%2 == 0):
    print(num**2)

4
16
36
64
100

In [ ]:
#Find sum and average of numbers till a limit
sum = 0
lim = int(input('Enter a limit'))
for num in range(1,lim+1):
  sum=sum+num
print("Sum is ",sum)
print("Average is ",sum/lim)

Enter a limit1000
Sum is  500500
Average is  500.5

In [ ]:
#count of numbers divisible by 3 from 5 to 500
count = 0
for num in range(5,501):
  if num%3 == 0:
    count+=1
print("count of numbers dividible by 3 between 5-500 is ",count)

count of numbers dividible by 3 between 5-500 is  165

In [ ]:
fruitlist = ['apple','kivi','grapes','orange']
for fruit in fruitlist:
  print(fruit)

apple
kivi
grapes
orange

In [ ]:
word = "python programming"
for letter in word:
  print(letter,end="")

python programming

In [ ]:
num = 1
while (num<=10):
  print(num)
  num+=2

1
3
5
7
9

In [ ]:
print("Type no to stop")
name = input('Enter a name ')
while (name!='no'):
  print("hello "+name)
  name = input('Enter a name ')

Type no to stop
Enter a name Akhila
hello Akhila
Enter a name no

In [ ]:
# break .. continue

In [ ]:
for i in range(1,11):
  if(i == 5):
    break
  print(i)
print('Execution over')

1
2
3
4
Execution over

In [ ]:
for i in range(1,11):
  if(i == 5):
    continue
  print(i)
print('Execution over')

1
2
3
4
6
7
8
9
10
Execution over

In [ ]:
#Program to check given number is prime
num = int(input('Enter a positive number'))
for test in range(2,num//2+1):
  if num%test == 0:
    print('Not Prime')
    break
else:
  print('Prime')

Enter a positive number13
Prime

In [ ]:
#nested loop
for i in range (1,11):
  print('multiplication table of',i)
  for j in range (1,11):
    print(i ,'*',j,'=' ,i*j)

multiplication table of 1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
multiplication table of 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
multiplication table of 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
multiplication table of 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
multiplication table of 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
multiplication table of 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
multiplication table of 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
multiplication table of 8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
multiplication table of 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
multiplication table of 10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

Program to print all prime numbers in a given range 1 to 100

In [ ]:
num=1
while num<=100:
  for test in range(2,num//2+1):
    if num%test == 0:
      break
  else:
      print(num)
  num+=1

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97